@import "src/assets/styles/themes";
@import "src/assets/styles/mixins";

.project-categories {

    li {
        display: inline;
        cursor: var(--cursor-type);
        transition: var(--transition);

        &.active {
            color: var(--accent-color);
        }

        &:after {
            content: var(--divider);
            color: var(--accent-color);
            opacity: .7;
            margin: 5px;
        }

        &:last-child:after {
            content: "";
        }
    }
}

.show-btn {
    text-align: center;
    margin: 50px 0;
}

.external-link-btn {
    margin: 5px 10px;
}

#projects-carousel {
    flex-direction: row;
    flex-wrap: wrap;

    .carousel-item {
       @include card;

        height: 350px;
        backdrop-filter: blur(5px);
        padding: 15px;

        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        flex-basis: 45%;

        .header {
            width: 100%;

            .title {
                float: left;
            }

            .external-links {
                text-align: end;
                font-size: large;
            }
        }

        .project-img {
            height: 25px;
            margin-bottom: 10px;
        }

        .title {
            margin: 0 0 10px;
            font-size: x-large;
            transition: var(--transition);
        }

        .description {
            float: left;
            font-size: larger;
        }

        .tech-icons {
            font-size: x-large;

            i {
                margin: 10px;
            }
        }

        .tech {
            line-height: 1.75;
            font-size: small;
            font-family: var(--code-font);
        }
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(0);
        filter: blur(2px);
        opacity: 0;
    }
    50% {
        filter: blur(0);
        opacity: 1;
    }
    100% {
        transform: translateX(65px);
        filter: blur(2px);
        opacity: 0;
    }
}
