@import "src/assets/styles/themes";

.project-box {
    height: 350px;
    border: var(--border);
    box-shadow: var(--box-shadow);
    transition: var(--transition);
    background-color: var(--bg-color-30);
    border-radius: var(--border-radius);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding: 1.5rem;


    &:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0px;
        content: "";
        display: block;
        height: 3px;
        left: 50%;
        position: absolute;
        background: var(--border-color);
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }

    &:hover:after {
        width: 100%;
        left: 0;
    }

    .header {
        width: 100%;

        .title {
            float: left;
            text-align: start;
        }

        .external-links {
            font-size: 20px;
            text-align: end;
        }
    }

    .project-img {
        height: 25px;
        margin-bottom: 10px;
    }

    .title {
        margin: 0 0 10px;
        font-size: 22px;
        transition: var(--transition);
    }

    .description {
        float: left;
        font-size: 17px;
    }

    .tech-icons {
        font-size: 25px;
        i {
            margin: 10px;
        }
    }

    .tech {
        font-size: 12px;
        line-height: 1.75;
        font-family: var(--code-font);
    }
}

.project-categories {
    margin-bottom: 30px;

    li {
        display: inline;
        cursor: var(--cursor-type);

        &.active {
            color: var(--accent-color);
        }

        &:after {
            content: var(--divider);
            color: var(--accent-color);
            font-weight: 600;
            opacity: .7;
            margin: 10px;
        }

        &:last-child:after {
            content: "";
        }
    }
}

.grid {
    display: grid;
    gap: 15px 15px;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas:
    ". ."
    ". ."
    ". .";

    .grid-item {
        background-color: var(--bg-color-30);
    }
}

.show-btn {
    text-align: center;
    margin: 50px 0;
}

.external-link-btn {
    margin: 0 10px;
}

@media(max-width: 1000px) {
    .grid {
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
    "."
    "."
    ".";
    }
}
