<section>
    <div data-aos="fade-up" data-aos-duration="500">
        <h3 class="section-title">
            {{"Projects.Title" | translate}}
        </h3>
    </div>
    <div>
        <ul class="project-categories mb-30 ml-15">
            @for (tag of "Projects.Tags" | translate; track tag) {
                <li data-aos="fade-up" data-aos-duration="500" [attr.data-aos-delay]="$index*100"
                    (click)="filterProjects(tag)" [class.active]="selectedTag === tag">
                    {{tag || 'All' | titlecase}}
                </li>
            }
        </ul>
    </div>
    <div id="projects-carousel" class="carousel" (scroll)="onScroll($event)">
        <div class="carousel-item-spacer"></div>
        @for (project of filtered; track project) {
            <div @exit-animation class="carousel-item"
                 data-aos="fade-up" data-aos-duration="500" data-aos-offset="-25"
                 id="project-{{$index}}" (click)="scroll($index, 'right')">
                <div>
                    <div class="header">
                        <div class="title">{{project['Title']}}</div>
                        <div class="external-links">
                            @if (project['CompanyLogo']) {
                                <img class="project-img" alt="CompanyLogo"
                                     [src]="project['CompanyLogo']">
                            }
                            @if (project['GithubLink']) {
                                <a [href]="project['GithubLink']" target="_blank">
                                    <i class="external-link-btn fab fa-github" id="ghLink"></i>
                                </a>
                            }
                            @if (project['Link']) {
                                <a [href]="project['Link']" target="_blank">
                                    <i class="external-link-btn fas fa-external-link-alt"></i>
                                </a>
                            }
                        </div>
                    </div>
                    <p class="description">
                        {{project['Description']}}
                    </p>
                </div>
                @if (project['Tech']) {
                    <div>
                         @for (technology of getTech(project); track technology) {
                            <span class="tech">
                                <span class="highlight">{{technology}}</span>
                            </span>
                         }
                    </div>
                }
                @if (project['TechIcons']) {
                    <div class="tech-icons">
                        @for (icon of getTechIcons(project); track icon) {
                            <i class="{{icon}}"></i>
                        }
                    </div>
                }
            </div>
        }
        <div class="carousel-item-spacer"></div>
    </div>
    @if (filtered.length && !scrolled) {
        <p class="scroll-indicator" data-aos="fade-up" data-aos-duration="500" data-aos-offset="-50"
           @exit-animation (click)="scroll(0, 'right')">
            <i class="fas fa-mouse"></i> &nbsp; <span class="right">>></span>
        </p>
    }
</section>

