@import "src/assets/styles/themes";

.container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    .col {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
    }
}

.qualifications-list {
    padding: 0;
    margin-bottom: 50px;

    li {
        margin: 15px 0;
        &:first-child {
            margin-top: 0;
        }
    }
}

.skills {
    margin: 5px 0px;
    &:first-child {
        margin-top: 15px;
    }

    .skill-element {
        position: relative;
        font-size: 12px;
        color: var(--accent-color);
        font-family: var(--code-font);

        &:after {
            content: var(--divider);
            color: var(--primary-color);
            font-weight: 600;
            opacity: .7;
            margin: 5px;
        }

        &:last-child:after {
            content: "";
        }

        span {
            padding-bottom: 5px;
        }
    }
}

@media(max-width: 1000px) {
    .col {
        flex-basis: 100% !important;
    }
}

