@import "src/assets/styles/themes";

#highlights {
    margin-bottom: 10em;
    min-height: 550px;
}

#highlights-carousel {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;

    .carousel-item {
        transition: var(--transition);
        scroll-snap-align: center;
        cursor: auto;
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        align-items: flex-start;
        flex-shrink: 0;
    }
}

.highlight-categories {
    display: none;
    margin-bottom: 25px;

    li {
        display: inline;
        cursor: var(--cursor-type);
        transition: var(--transition);

        &.active {
            color: var(--accent-color);
        }

        &:after {
            content: var(--divider);
            color: var(--accent-color);
            font-weight: 600;
            opacity: .7;
            margin: 5px;
        }

        &:last-child:after {
            content: "";
        }
    }
}

.qualifications-list {
    padding: 0px 40px 0 15px;
    margin-bottom: 50px;
    margin-top: 0;

    li {
        margin: 15px 0;
        &:first-child {
            margin-top: 0;
        }
    }
}

.skills {
    margin: 5px 0px;
    &:first-child {
        margin-top: 5px;
    }

    .skill-element {
        color: var(--list-text-color);
        font-family: var(--code-font);
        position: relative;
        font-size: 12px;

        &:after {
            content: var(--divider);
            color: var(--divider-color);
            font-weight: 600;
            opacity: .7;
            margin: 5px;
        }

        &:last-child:after {
            content: "";
        }

        span {
            padding-bottom: 5px;
        }
    }
}

.accent {
    color: var(--accent-color);
}

@media(max-width: 1000px) {
    #highlights-carousel {
        flex-direction: row;
        flex-wrap: nowrap;
        -webkit-overflow-scrolling: touch;

        .carousel-item {
            flex-basis: 100%;
            cursor: var(--cursor-type);
        }
    }
    .highlight-categories {
        display: block;
    }
}

