@import "src/assets/styles/themes";

#highlights {
    margin-bottom: 10em;
    min-height: 550px;
}

#highlights-carousel {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    gap: 20px;

    .carousel-item {
        transition: var(--transition);
        scroll-snap-align: center;
        cursor: auto;
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        align-items: flex-start;
        flex-shrink: 0;

        background-color: transparent;
        border: none;
        box-shadow: none;
        backdrop-filter: blur(0);
        border-radius: var(--border-radius);
        padding: 20px 15px 10px 15px;

    }

    .carousel-item-spacer {
        display: none;
    }
}

.highlight-categories {
    display: none;
    margin-bottom: 25px;

    li {
        display: inline;
        cursor: var(--cursor-type);
        transition: var(--transition);

        &.active {
            color: var(--accent-color);
        }

        &:after {
            content: var(--divider);
            color: var(--accent-color);
            font-weight: 600;
            opacity: .7;
            margin: 5px;
        }

        &:last-child:after {
            content: "";
        }
    }
}

.qualifications-list {
    margin-top: 0;
    margin-left: 15px;

    li {
        margin: 15px 0;

        &:first-child {
            margin-top: 0;
        }
    }
}

.skills {
    margin: 5px 0px;

    &:first-child {
        margin-top: 0;
    }

    .skill-element {
        color: var(--list-text-color);
        font-family: var(--code-font);
        position: relative;
        font-size: 12px;
        display: inline-block;

        &:after {
            content: var(--divider);
            color: var(--divider-color);
            font-weight: 600;
            opacity: .7;
            margin: 5px;
        }

        &:last-child:after {
            content: "";
        }

        span {
            padding-bottom: 5px;
        }
    }
}

.accent {
    color: var(--accent-color);
}

@media(max-width: 1000px) {
    #highlights-carousel {
        flex-direction: row;
        flex-wrap: nowrap;
        -webkit-overflow-scrolling: touch;
        mask: var(--carousel-mask);
        
        .carousel-item {
            flex-basis: 75vw;
            cursor: var(--cursor-type);
            background-color: var(--bg-color-30);
            border: var(--border);
            box-shadow: var(--box-shadow);
            backdrop-filter: blur(5px);
        }

        .carousel-item-spacer {
            display: block;
            flex-basis: 5vw;
            flex-shrink: 0;
        }
    }
    .qualifications-list {
        margin-left: 0;
    }
    .highlight-categories {
        display: block;
    }
    .bullet::marker {
        content: '';
    }
}

