<section>
    <div class="content">
        <div class="title" data-aos="fade-up">
            <h3 class="section-title">
                {{"Highlights.Title" | translate}}
            </h3>
        </div>
        <div>
            <div class="container">
                <div class="col">
                    <ul class="qualifications-list" data-aos="fade-up">
                        <li *ngFor='let text of "Highlights.Qualifications" | translate' [innerHTML]="text"
                            class="qualifications-element bullet"
                            data-aos="fade-up" data-aos-duration="500" data-aos-offset="-50">
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <div *ngFor='let skill of "Highlights.Skills" | translate' class="skills"
                         data-aos="fade-up" data-aos-duration="500" data-aos-offset="-50">
                        <div><b>{{skill['Category']}}</b></div>
                        <span *ngFor="let s of skill['Elements']; let i = index" [attr.data-aos-delay]="i*50"
                              class="skill-element">
                        <span class="highlight">{{s}}</span>
                      </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
