@use "src/assets/styles/themes" as *;

footer {
    color: var(--primary-color);
    font-family: var(--code-font);

    .footer-left-bar:after {
        content: '';
        display: block;
        width: 1px;
        height: 90px;
        margin: 0 auto 0px 7.5px;
        background-color: var(--border-color);
    }


    .footer-left-bar li {
        list-style: none;
    }

    .footer-left-bar {
        position: fixed;
        bottom: -16px;
        left: 51px;
        padding: 0;

        i {
            font-size: larger;
            color: var(--primary-color);
        }

        li {
            margin: 20px 0px;
            transition: var(--transition);
            cursor: var(--cursor-type);

            a > .theme-toggle {
                transform: rotate(90deg);
                margin-left: -2.7px;
            }

            &:last-of-type {
                margin-bottom: 33px;
            }

            .label {
                opacity: 0;
                margin-left: -5px;
                transition: var(--transition);
            }
            &:hover {
                .label {
                    margin-left: 10px;
                    opacity: 1;
                }
            }
        }
    }

    .scroll-top-btn {
        border: var(--border);
        border-radius: var(--border-radius);
        padding: 10px 20px;
        font-size: larger;
        line-height: 1;
        position: fixed;
        right: 10vw;
        bottom: -15px;
        margin-left: -48.5px;
        width: 20px;
        text-align: center;
        cursor: pointer;
        transition: var(--transition) !important;
        color: var(--scroll-btn-color);
        background-color: var(--scroll-btn-bg-color);
        box-shadow: var(--box-shadow);
        opacity: 0;

        &.show-scroll-btn {
            opacity: 1;
            transform: translateY(-5px);
            backdrop-filter: blur(2px);
        }
    }
}

@media(max-width: 1000px) {
    .footer-left-bar {
        display: none;
    }
}
