doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Arun Varghese
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='assets/lib/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='assets/lib/animate.css/animate.min.css')
    link(rel='stylesheet', href='assets/css/avarghese.min.css')
    link(rel='icon', type='image/png', href='assets/img/favicon.ico')

  body

    nav.nav
      div.nav-menu-grid
        img.profile(src='assets/img/thumbnails/profile.jpg')
        div.description
          div I'm a Senior Full Stack Developer with a passion for design, coding, and creating tangible deliverables through problem solving and creative thinking! In my free time I enjoy traveling and exploring new places around the globe! To learn more about me or get in contact with me, checkout the links below!
        a(href='http://avarghese.me/resume')
          div.nav-menu-item
            div.icon-overlay
              i.fa.fa-file-text-o
            div.bg-img.resume
            div.bg-overlay
            div.content MY RESUME
        a(href='http://avarghese.me/travel')
          div.nav-menu-item
            div.icon-overlay
              i.fa.fa-globe
            div.bg-img.travel
            div.bg-overlay
            div.content MY TRAVELS
        a(href='http://avarghese.me/blog')
          div.nav-menu-item
            div.icon-overlay
              i.fa.fa-rss
            div.bg-img.blog
            div.bg-overlay
            div.content MY BLOG
        a(href='https://github.com/vararun')
          div.nav-menu-item
            div.icon-overlay
              i.fa.fa-github
            div.bg-img.github
            div.bg-overlay
            div.content MY GITHUB
        a(href='https://www.linkedin.com/in/varghesearun')
          div.nav-menu-item
            div.icon-overlay
              i.fa.fa-linkedin
            div.bg-img.linkedin
            div.bg-overlay
            div.content MY LINKEDIN
        a(href='http://codepen.io/avarghese/')
          div.nav-menu-item
            div.icon-overlay
              i.fa.fa-codepen
            div.bg-img.codepen
            div.bg-overlay
            div.content MY CODEPEN
        a(href='http://avarghese.me/portfolio')
          div.nav-menu-item
            div.icon-overlay
              i.fa.fa-th-large
            div.bg-img.portfolio
            div.bg-overlay
            div.content MY PORTFOLIO
        a(href='https://dribbble.com/avarghese')
          div.nav-menu-item
            div.icon-overlay
              i.fa.fa-dribbble
            div.bg-img.dribbble
            div.bg-overlay
            div.content DRIBBBLE
        a(href='https://www.behance.net/avarghese')
          div.nav-menu-item
            div.icon-overlay
              i.fa.fa-behance
            div.bg-img.behance
            div.bg-overlay
            div.content BEHANCE
        a(href='http://stackoverflow.com/users/7571027/vararun')
          div.nav-menu-item
            div.icon-overlay
              i.fa.fa-stack-overflow
            div.bg-img.stackoverflow
            div.bg-overlay
            div.content STACKOVERFLOW
        a(href='https://www.facebook.com/avarghese1')
          div.nav-menu-item
            div.icon-overlay
              i.fa.fa-facebook
            div.bg-img.facebook
            div.bg-overlay
            div.content MY FACEBOOK
        a(href='https://www.instagram.com/var_arun/')
          div.nav-menu-item
            div.icon-overlay
              i.fa.fa-instagram
            div.bg-img.instagram
            div.bg-overlay
            div.content MY INSTAGRAM
        a(href='http://avarghese.me/about')
          div.nav-menu-item
            div.icon-overlay
              i.fa.fa-user-circle-o
            div.bg-img.about
            div.bg-overlay
            div.content ABOUT
      div.nav-footer
        div.tags
            span #engineer
            span #traveler
            span #husband
        span.copyright
          | &copy; 2016 by Arun Varghese &nbsp;|
          a(href='https://github.com/varararun/varararun.github.io')
            i.fa.fa-fw.fa-github

    section.page-wrap.loading

      div.control-btns
        span.nav-btn.animated.bounceIn
          span.nav-icon
            i.fa.fa-fw.fa-user-circle-o.open-btn
            i.fa.fa-fw.fa-times-circle-o.close-btn
        span.shuffle-bg-btn.animated.bounceIn
          i.fa.fa-fw.fa-cog.fa-spin
        span.email-btn
          a(href='mailto:arunv4700@gmail.com')
            i.fa.fa-fw.fa-envelope
        span.vr-btn.animated.bounceIn
          span.vr-icon
            i.fa.fa-fw.fa-street-view.open-btn
            i.fa.fa-fw.fa-times-circle-o.close-btn

      div.vr-drag-demo
        span.drag-icon
          i.fa.fa-hand-pointer-o
        div.demo-text My Travels in VR!
          br
          | Grab and Drag the Picture to View 360&deg;!
        i.fa.fa-angle-left
        i.fa.fa-angle-right
        i.fa.fa-times

      div.bg-img.loading
      div.vr-content
      div.bg-overlay.fadeIn
      div.bg-pattern

      div.content
        div.info(onclick='AV.navToggle();')
          div.name
            span.first ARUN
            span.last VARGHESE
          div.role Senior Full Stack Developer
          div.marker
            i.fa.fa-fw.fa-map-marker
          div.location Dallas, TX
        div.icons
          span
            a(href='http://avarghese.me/resume/')
              i.fa.fa-fw.fa-file-text-o.social-icon
          span
            a(href='https://github.com/vararun/')
              i.fa.fa-fw.fa-github-square.social-icon
          span
            a(href='https://codepen.io/avarghese/')
              i.fa.fa-fw.fa-codepen.social-icon
          span
            a(href='http://avarghese.me/blog')
              i.fa.fa-fw.fa-rss.social-icon
        div.email
          a(href='mailto:arunv4700@gmail.com') arunv4700@gmail.com

    div.info-bar.hidden
      div.info(onclick='AV.navToggle();') [ LEARN MORE ABOUT ME
        i.fa.fa-long-arrow-right ]

    script(src='assets/lib/jquery/dist/jquery.min.js')
    script(src='assets/lib/aframe/dist/aframe.min.js')
    script(src='assets/js/avarghese.min.js')
    script(type='text/javascript').
      AV.initialize();
    script(type='text/javascript').
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-88384820-1', 'auto');
        ga('send', 'pageview');




