.credits {
    font-size: small;
    line-height: 1;
    text-align: center;
    margin-bottom: 20px;
    font-family: var(--code-font);

    .credit {
        margin-bottom: 15px;
    }

    a {
        font-size: larger;
        transition: var(--transition);
    }
}
