<div (click)="toggleOverlayMenu()" class="menu-btn">
    <div [ngClass]="{'menu-open': menuOpen}" class="menu-container">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
</div>
<div @hide-animation *ngIf="menuOpen" class="menu-overlay" data-aos="fade-out" (click)="toggleOverlayMenu()">
    <ol class="menu-items" data-aos="fade-up" data-aos-duration="500">
        <li *ngFor='let item of "Menu.NavItems" | translate; let i = index' class="menu-item">
            <a (click)="navigate(item); menuOpen = !menuOpen">{{item['Label']}}</a>
        </li>
        <li class="overlay-theme-toggle" (click)="switchTheme()">
            <i class="fas {{theme === 'light' ? 'fa-toggle-on' : 'fa-toggle-off'}}"></i>
        </li>
    </ol>
    <div class="version">v{{appVersion}}</div>
</div>
<div class="menu-bar">
    <ol class="menu-bar-items" [ngClass]="{'show-menu-bg': scrollPosition > 100}">
        <li *ngFor='let item of "Menu.NavItems" | translate; let i = index' class="menu-bar-item"
            data-aos="fade-down" data-aos-duration="500" [attr.data-aos-delay]="i*100">
                <span (click)="navigate(item)" [class.active]="item['Label'].toLowerCase() === route">
                    <span *ngIf="item['Label'] !== 'Home'">{{item['Label']}}</span>
                    <i class="fas fa-home" *ngIf="item['Label'] === 'Home'"></i>
                </span>
        </li>
        <li class="menu-bar-item theme-toggle" (click)="switchTheme()" data-aos="fade-down" data-aos-duration="500"
            data-aos-delay="700">
            <i class="fas {{theme === 'light' ? 'fa-toggle-on' : 'fa-toggle-off'}}"></i>
        </li>
    </ol>
</div>
