@import "src/assets/styles/themes";

.menu-btn {
    color: var(--primary-color);
    cursor: var(--cursor-type);
    display: none;
    font-size: 35px;
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 15px;
    margin-top: 15px;
    z-index: 3;

    .menu-container {
        background: var(--bg-color-60);
        box-shadow: var(--box-shadow);
        border-radius: var(--border-radius);
        transition: var(--transition);
        display: block;
        cursor: pointer;
        padding: 5px;

        .bar1, .bar2, .bar3 {
            transition: var(--transition);
            width: 35px;
            height: 2px;
            background-color: var(--menu-btn-color);
            margin: 6px 0;
            transition: 0.5s ease-in-out;;
        }

        &.menu-open {
            box-shadow: none;
            background: transparent;

            .bar1, .bar2, .bar3 {
                background-color: var(--primary-color);
            }

            .bar1 {
                transform: translate(0, 10px) rotate(-225deg);
            }

            .bar2 {
                opacity: 0;
            }

            .bar3 {
                transform: translate(0, -6px) rotate(225deg);
            }
        }

    }
}

.menu-overlay {
    background: var(--menu-overlay-bg-color);
    transition: var(--transition);
    display: none;
    position: fixed;
    overflow: scroll;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    backdrop-filter: blur(3px);
    z-index: 2;

    .menu-items {
        position: absolute;
        top: 15%;
        left: 0;
        margin: auto;
        padding-bottom: 100px;
        list-style: none;
        color: var(--primary-color);
        font-family: var(--primary-font);
        font-size: 13px;

        .menu-item {
            margin: 20px 0;
            font-size: 3em;
            cursor: var(--cursor-type);

            &:before {
                content: '>';
                opacity: 0;
                margin: 20px 10px;
                color: var(--bullet-color);
                transition: var(--transition);
            }

            &:hover {
                a {
                    color: var(--primary-color);
                }

                transform: translateX(5px);

                &:before {
                    opacity: 1;
                }

                &:after {
                    opacity: 1;
                }
            }
        }
    }
}

.menu-bar {
    width: 100vw;
    height: 50px;
    z-index: 1;

    .menu-bar-items {
        padding: 2em 1.5em 1.25em;
        float: left;
        border: 1px solid transparent;
        border-radius: var(--border-radius);
        position: fixed;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        transition: var(--transition);
        z-index: 1;
        min-width: 560px;

        &.show-menu-bg {
            background: var(--menu-bar-bg-color);
            box-shadow: var(--box-shadow);
            backdrop-filter: blur(4px);
            border: var(--border) !important;
        }

        .menu-bar-item {
            cursor: pointer;
            float: left;
            color: var(--primary-color);

            &:after {
                content: var(--divider);
                color: var(--accent-color);
                font-size: small;
                font-weight: 600;
                opacity: .7;
                margin: 6px;
            }

            &:last-child:after {
                content: "";
            }
        }
    }
}

.active {
    color: var(--accent-color);
}

@media (max-width: 1000px) {
    .menu-btn {
        display: block;
    }
    .menu-bar-items {
        display: none;
    }
    .menu-overlay {
        display: block;
    }
}

@media (max-width: 550px) {
    .menu-item {
        font-size: 2.5em !important;
    }
}


