@import "src/assets/styles/themes";

#about {
    vertical-align: middle;

    .profile-img {
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
        background: url('../../../../assets/images/profile/profile-small.png') no-repeat;
        transform-origin: center;
        background-size: cover;
        width: 10em;
        height: 10em;
        margin-bottom: 25px;
        filter: var(--profile-img-filters);
        cursor: move;
        position: relative;
        z-index: 1;
        transition: .2s linear;

        &.cdk-drag-dragging {
            border-radius: 50%;
            opacity: .8;
        }
    }

    .content {
        margin-top: 175px;
    }

    h1 {
        color: var(--title-color);
        margin: 0 0 20px 3px;
        font-size: 16px;
        font-weight: normal;
        font-family: var(--code-font);
    }

    h2, h3 {
        font-weight: 600;
        line-height: 1.1;
        margin: 0;
    }

    h2 {
        font-size: 70px;
        color: var(--primary-color);
        font-family: var(--primary-font);
    }

    h3 {
        margin-top: 10px;
        font-size: 45px;
        color: var(--primary-color);
        font-family: var(--code-font);
    }

    p {
        max-width: 500px;
    }

    .social-icons {
        display: none;
        margin: 1.5em 0 2.5em;
        font-size: 20px;

        li {
            display: inline;
            margin: 0 20px 0 0;

            a:hover {
                color: inherit;
            }
        }
    }

    .download-resume {
        margin: 3em 0;
    }
}

.code-highlight {
    background: var(--code-highlight-color);
    padding-left: 5px;
    color: var(--code-highlight-text-color);

    .blinking-cursor {
        animation: 1s blink step-end infinite;
    }
}

@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: var(--code-highlight-text-color);
    }
}

@media (max-width: 1000px) {
    .name {
        font-size: 45px !important;
    }
    .role {
        font-size: 27px !important;
    }
}

@media(max-width: 1000px) {
    .social-icons {
        display: block !important;
    }
}




