@import "src/assets/styles/themes";

.contact {
    .contact-title {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 50px;
        color: var(--primary-color);
        margin: auto;
        width: fit-content;
    }

    .contact-pre-title {
        position: relative;
        align-items: center;
        margin: 10px 0 25px;
        width: 100%;
        display: block;
        color: var(--title-color);
        font-family: var(--primary-font);
        justify-content: center;
        text-align: center;
    }
}

.contact-btn {
    margin-top: 50px;
    text-align: center;
}

@media(max-width: 1000px) {
    .social-icons {
        display: block !important;
    }
}
