.close-btn {
    height: 1.3em;
    margin-top: -8px;
}

.control-btns {
    transition: $transition-short;

    .nav-btn {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 7;
        font-size: 2em;
        padding: .55em .5em;
        cursor: pointer;

        &.nav-close>.nav-icon>.close-btn {
            opacity: .9;
            display: inline-block;
            visibility: visible;
        }

        .nav-icon {
            color: $font-color-1;
            opacity: $faded;
            transition: $transition-short;

            &:hover {
                opacity: 1;
            }

            .close-btn {
                opacity: 0;
                display: none;
            }

            i {
                transition: $transition-short;
            }
        }
    }
}