/* main content */

.bg-btn {
    position: absolute;
    top: 50%;
    color: $font-color-primary;
    z-index: 1;
    transition: $transition-long;
    font-size: 30px;

    i {
        text-shadow: $text-shadow;
    }

    &.prev {
        left: 0;
    }

    &.next {
        right: 0;
    }

    &.loading-img {
        opacity: 0;
        transition: $transition-short;
    }
}

.bg-loading-icon {
    transition: $transition-medium;
    margin-top: 2em;
    opacity: 0;

    i {
        text-shadow: $text-shadow;
    }

    &.loading-img {
        opacity: 1;
    }
}

.page-wrap {
    position: relative;
    height: 100vh;
    width: 100vw;
    transition: $transition-long;

    &.page-wrap-disable .bg-img {
        filter: blur(3px);
    }

    .bg-img {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        transform-origin: center;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center center !important;
        transition: $transition-long-bounce;
        background: $background-color url('../img/bg/code.jpg');

        &.left {
            left: -105%;
            z-index: 2;
            box-shadow: 0 0 1em 0.1em rgba(0, 0, 0, .8);

            &.load-img {
                transform: translateX(105%);
                transition: $transition-long-bounce;
            }
        }

        &.right {
            left: auto;
            right: -105%;
            z-index: 2;
            box-shadow: 0 0 1em 0.1em rgba(0, 0, 0, .8);

            &.load-img {
                transform: translateX(-105%);
                transition: $transition-long-bounce;
            }
        }

        &.center {
            left: 0
        }
    }

    .bg-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
        transition: $transition-medium;
        z-index: 5;
    }

    .content-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) translateY(0);
        text-align: center;
        max-height: 100%;
        padding: 1em 0;
        transition: $transition-medium;
        width: 100%;
        max-width: 95vw;
        z-index: 10;

        &.loading {
            filter: blur(3px);
        }

        .more-info-btn {
            position: relative;

            i {
                transition: $transition-medium;
            }
        }

        .info {
            margin-bottom: 1.5em;
            transition: $transition-medium;

            .name {
                text-shadow: $text-shadow;
                font-family: $font-family-secondary;
                font-size: 3em;

                .first {
                    padding-right: 0.5em;
                }
            }

            .role {
                font-size: .8em;
                font-weight: 400;
                text-transform: uppercase;
                margin: .4em 0 1em;
                letter-spacing: .4em;
                text-shadow: $text-shadow;
            }

            .marker {
                text-shadow: $text-shadow;
                font-size: 1.5em;
            }

            .location {
                font-size: 1em;
                text-transform: uppercase;
                text-shadow: $text-shadow;
                font-weight: 400;
                font-size: .9em;
                letter-spacing: .3em;
                margin-bottom: 1.5em;
            }
        }

        &.content-hidden {
            opacity: 0;
            transform: translate(-50%, -50%) translateY(-20px);

            .more-info-btn>i {
                transform: translateY(30px);
                opacity: 0;
            }

            .info {
                transform: translateY(-20px);
            }

            .next.bg-btn {
                transform: translateX(20px);
            }

            .prev.bg-btn {
                transform: translateX(-20px);
            }
        }
    }
}