@media handheld,
(max-width: 640px),
(max-height: 400px) {
    .page-wrap>.content {
        top: 1em !important;
        left: 50% !important;
        transform: translate(-50%, 0) !important;
        overflow-y: scroll !important;
    }
    .icons {
        font-size: 1.5em !important;
        letter-spacing: .2em !important;
    }
    .email {
        font-size: .7em !important;
    }
    .nav-menu-item {
        width: 18em !important;
        height: 10em !important;
        .bg-img {
            background-image: none !important;
        }
    }
    .email-btn,
    .shuffle-bg-btn {
        display: none !important;
    }
    .icons,
    .email {
        visibility: visible !important;
    }
    .bg-vr.bg-vr-visible {
        z-index: 0!important;
    }
    .vr-drag-demo {
        display: none !important;
        background: black !important;
    }
    .a-enter-vr {
        display: none;
    }
    .content-hidden {
        display: none !important;
    }
    .icon-overlay {
        font-size: 5em !important;
    }
    .bg-pattern {
        background-image: none !important;
    }
}