@media only screen and (max-width: 400px) {
    /* phones */
    .email-btn,
    .shuffle-bg-btn,
    .vr-drag-demo,
    .a-enter-vr,
    .content-hidden {
        display: none !important;
    }
    .page-wrap>.content {
        top: 1em !important;
        left: 50% !important;
        transform: translate(-50%, 0) !important;
        overflow-y: scroll !important;
    }
    .icons {
        font-size: 1.5em !important;
        letter-spacing: .2em !important;
    }
    .email {
        font-size: .7em !important;
    }
    .nav-menu-item {
        width: 15em !important;
        height: 8em !important;
        .content {
            font-size: .9em !important;
        }
        .bg-img {
            background-image: none !important;
        }
        .icon-overlay {
            font-size: 3em !important;
        }
        .bg-pattern {
            background-image: none !important;
        }
    }
    .icons,
    .email {
        visibility: visible !important;
    }
    .bg-vr.bg-vr-visible {
        z-index: 0!important;
    }
    .vr-drag-demo {
        background: black !important;
    }
}