/* navigation page*/

.nav-btn {
    font-size: 2em;
    padding: .55em .5em 0;
    display: block;
    transition: $transition-medium;

    i {
        height: 1.3em;
        margin-top: -8px;
    }
}

.nav {
    -webkit-overflow-scrolling: touch;
    pointer-events: none;
    overflow-y: scroll;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    padding: 0.2em .4em;
    height: 100%;
    width: 100%;
    background: radial-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .3), rgba(0, 0, 0, .5));
    transition: $transition-medium;
    z-index: 15;

    &.nav-open {
        pointer-events: all;
        visibility: visible;
        opacity: 1;
        transform: initial;
        filter: blur(0);

        >.nav-menu-grid {
            transform: initial;
        }

        >.nav-menu-grid>.profile {
            transform: initial;
        }
    }

    .nav-menu-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;
        padding-bottom: 1em;
        max-width: 80em;
        margin: auto;
        transition: $transition-medium;

        .profile {
            width: 10em;
            height: 10em;
            border-radius: 10em;
            border: $border-thin;
            transition: $transition-medium;
            filter: grayscale(100%);
            transform: translateY(-10%);
        }

        .description {
            width: 100%;
            text-align: center;

            div {
                margin: 2em auto;
                padding: 0 2.5em;
                max-width: 40em;
                position: relative;
                font-weight: 400;
                font-size: .9em;

                &:before {
                    content: '\f10d';
                    font-family: 'Font Awesome\ 5 Free';
                    font-weight: 900;
                    color: initial;
                    position: absolute;
                    left: .5em;
                    font-size: 1.3em;
                    top: 0;
                    color: inherit;
                }

                &:after {
                    content: '\f10e';
                    font-family: 'Font Awesome\ 5 Free';
                    font-weight: 900;
                    color: initial;
                    position: absolute;
                    right: .5em;
                    font-size: 1.3em;
                    top: 0;
                    color: inherit;
                }
            }
        }

        a {
            .nav-menu-item {
                transition: $transition-medium;
                align-self: stretch;
                overflow: hidden;
                text-align: center;
                position: relative;
                width: 22em;
                height: 12em;
                margin: 1em;
                border-top: 1px solid rgba(255, 255, 255, 0.3);
                border-right: 1px solid rgba(255, 255, 255, 0.3);
                border-left: 1px solid rgba(255, 255, 255, 0.3);
                border-radius: .3em;

                .icon-overlay {
                    width: 100%;
                    position: absolute;
                    top: 45%;
                    color: white;
                    font-size: 6.5em;
                    transform: translate(0, -50%);
                    transition: $transition-medium;

                    .fa {
                        opacity: $faded;
                    }
                }

                .nav-item-bg-img {
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                    width: 100%;
                    height: 100%;
                    transition: $transition-short;
                    transition-property: opacity, transform;
                    opacity: 0;
                    transform: scale(1.2);
                    transform-origin: center;
                }

                .bg-overlay {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 20%;
                    transition: $transition-short;
                    background: linear-gradient(transparent, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, .8));
                }

                .content {
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%, 40%);
                    letter-spacing: .3em;
                    font-weight: 400;
                    padding: 0 .1em 1.5em;
                    opacity: $faded;
                    font-size: 1.2em;
                    transition: $transition-short;
                }
            }
        }
    }

    .nav-footer {
        text-align: center;
        opacity: .8;
        letter-spacing: .2em;
        padding-bottom: 1em;
        font-size: 0.8em;

        .tags {
            text-shadow: $text-shadow;
            font-weight: 400;
            font-size: .9em;
            letter-spacing: 0.3em;
        }

        .copyright {
            font-size: .9em;
            text-shadow: $text-shadow;
        }
    }
}

/* hover events */
.no-touch .nav-menu-item:hover {
    box-shadow: 0 0 1em 0.1em rgba(0, 0, 0, .8);

    .nav-item-bg-img {
        opacity: 1 !important;
    }
}