@import url("https://fonts.googleapis.com/css?family=Nothing+You+Could+Do");
@import url("https://fonts.googleapis.com/css?family=Montserrat+Subrayada");
$font-family-1: 'Montserrat',
'Helvetica Neue',
Arial,
sans-serif;
$font-family-2: 'Nothing You Could Do',
cursive !important;
$transition-short: 0.4s cubic-bezier(0.83,
-0.03,
0.54,
0.99);
$transition-long: 0.8s cubic-bezier(0.83,
-0.03,
0.54,
0.99);
$background-color: #282f35;
$font-color-1: #fff;
$text-shadow: 0px 0px 6px rgba(0,
0,
0,
0.7);
$border-thin: 1px solid rgba(255,
255,
255,
0.3);