/* vr page */

.vr-drag-demo {
    opacity: 0;
    display: none;
    transition: $transition-short;
    position: absolute;
    left: 50%;
    font-size: 1.3em;
    margin: auto;
    top: 1em;
    transform: translate(-50%, 0);
    z-index: 6;
    cursor: pointer;
    background: rgba(0, 0, 0, .5);
    padding: 1em 2em;
    border-radius: .2em;
    text-shadow: $text-shadow;
    .drag-icon {
        position: absolute;
        left: 10%;
    }
    .demo-text {
        border-bottom: 1px solid rgba(255, 255, 255, .4);
        padding-bottom: 0.5em;
        text-align: center;
    }
    .fa-angle-right {
        position: absolute;
        right: 1.5em;
        bottom: .6em;
        opacity: .6;
    }
    .fa-angle-left {
        position: absolute;
        left: 1.5em;
        bottom: .6em;
        opacity: .6;
    }
    .fa-times {
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        opacity: .6;
        transition: $transition-short;
        padding: 0.1em .2em;
        &:hover {
            opacity: 1;
        }
    }
    &.demo {
        display: block;
        opacity: 1 !important;
    }
    &.demo .drag-icon {
        animation: drag-demo 1.8s infinite;
        bottom: 0;
    }
}