$font-family-primary: 'Montserrat',
'Helvetica Neue',
Arial,
sans-serif;
$font-family-secondary: 'Nothing You Could Do';
$font-color-primary: #fff;
$text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7);
$transition-short: 0.2s ease-out;
$transition-medium: .6s ease-out;
$transition-long: 1s ease-out;
$transition-long-bounce: 1.5s cubic-bezier(0.67, 0.9, 0.24, 1.15);
$background-color: #282f35;
$border-thin: 1px solid rgba(255, 255, 255, 0.2);
$faded: .9;

/* general styling */
html,
body {
    height: 100%;
    width: 100%;
    font-family: $font-family-primary;
    color: $font-color-primary;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    perspective: 1000px;
    transform-style: preserve-3d;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    color: inherit !important;
}

ul,
li {
    list-style-type: none !important;
    margin: 0;
    padding: 0;
}

i,
a,
button,
select,
div {
    text-decoration: none !important;
    outline: none !important;
}

.loading {
    opacity: 0;
}

.selectable {
    cursor: pointer;
}

@import 'fonts';
@import 'content';
@import 'nav';
@import 'media';
@import 'loader';