$font-family-primary: 'Montserrat',
'Helvetica Neue',
Arial,
sans-serif;
$font-family-secondary: 'Nothing You Could Do';
$font-color-primary: #fff;
$text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7);
$transition-short: 0.2s cubic-bezier(0.83, -0.03, 0.54, 0.99);
$transition-medium: .6s cubic-bezier(0.2, 0.74, 0.54, 0.99);
$transition-long: 1s cubic-bezier(0.83, -0.03, 0.54, 0.99);
$background-color: #282f35;
$border-thin: 1px solid rgba(255, 255, 255, 0.2);
$faded: .9;

/* general styling */
html,
body {
    height: 100%;
    width: 100%;
    font-family: $font-family-primary;
    color: $font-color-primary;
    background: $background-color;
    font-weight: 100;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    color: inherit !important;
}

ul,
li {
    list-style-type: none !important;
    margin: 0;
    padding: 0;
}

i,
a,
button,
select,
div {
    text-decoration: none !important;
    outline: none !important;
}

.page-wrap {
    position: relative;
    height: 100%;
    width: 100%;
    transition: $transition-long;
}

@import 'fonts';
@import 'content';
@import 'nav';
@import 'media';
@import 'loader';