<div class="t-wrapper" [class.fullscreen]="fullscreen">
    <div class="t-container" (click)="inputActive()">
        <div class="t-menu">
            <div class="t-buttons">
                <a (click)="exitTerminal()">
                    <div class="t-button t-button-red"></div>
                </a>
                <div class="t-button t-button-yellow" (click)="clearTerminal()"></div>
                <div class="t-button t-button-green" (click)="fullscreen = !fullscreen"></div>
            </div>
            <div class="t-title">
                <a href="https://github.com/vararun" target="_blank"><i class='fab fa-github'></i> ~/arun-varghese -avsh</a>
            </div>
        </div>
        <div id="terminal">
            <li><br></li>
            <li *ngFor="let line of lines; let i = index" [innerHTML]="line"></li>
            <li *ngIf="waitForInput">$ <input id="terminal-input"></li>
            <li class="loading" *ngIf="loading">loading</li>
            <li><br></li>
            <li id="anchor"><br></li>
        </div>
    </div>
</div>
