@import "src/assets/styles/themes";
@import "src/assets/styles/mixins";

#experience-carousel {
    margin-top: 30px;

    .carousel-item {
        @include card;

        display: flex;
        flex-direction: column;
        flex-basis: 90%;
        justify-content: space-between;
        align-items: flex-start;
        height: 375px;
        margin: 5px;
        padding: 0 15px 10px 15px;
    }
}


.job-time {
    color: var(--accent-color);
    margin-bottom: 30px;
}

.job-description {
    margin-bottom: 20px;
    font-size: 12px;
}

.job-location {
    margin-bottom: 10px;
}

.collapse {
    transition: var(--transition);
    height: 30px;
    overflow: hidden;

    &.open {
        height: auto;
    }
}

.job-logo {
    margin-bottom: -5px;
    margin-left: 5px;
    height: 25px;
}

.job-environment {
    list-style: none;
    padding: 0;

    .technology {
        font-size: 10px;
        color: var(--list-text-color);
        font-family: var(--code-font);
        display: inline-block;

        &:after {
            content: var(--divider);
            color: var(--divider-color);
            font-weight: 600;
            opacity: .7;
            margin: 0 5px;
        }

        &:last-child:after {
            content: "";
        }
    }
}


.experience-categories {
    display: none;
    margin-bottom: 30px;

    li {
        display: inline;
        cursor: var(--cursor-type);
        transition: var(--transition);

        &.active {
            color: var(--accent-color);
        }

        &:after {
            content: var(--divider);
            color: var(--accent-color);
            font-weight: 600;
            opacity: .7;
            margin: 5px;
        }

        &:last-child:after {
            content: "";
        }
    }
}

@media(max-width: 1000px) {
    .experience-categories {
        display: block;
    }
}
