<section>
    <div class="content">
        <div class="title" data-aos="fade-up" data-aos-duration="500">
            <h3 class="section-title">
                {{"Experience.Title" | translate}}
            </h3>
        </div>
        @if (all.length) {
            <ul class="experience-categories mb-30 ml-15">
                @for (tag of tags; track tag) {
                    <li data-aos="fade-up" data-aos-duration="500" [attr.data-aos-delay]="$index*100 + 100"
                        (click)="scrollTo(tag)" [class.active]="selectedTag === tag">
                        {{tag | titlecase}}
                    </li>
                }
            </ul>
        }
        @if (all.length) {
            <div id="experience-carousel" class="carousel mt-30" (scroll)="onScroll($event)">
                <div class="carousel-item-spacer"></div>
                @for (item of all; track item) {
                    <div id="{{item['Category']}}"
                         (click)="scrollTo(tags[($index)+1] || tags[0])" [title]="item['Tab']" [class.inactive]="selectedTag !== item['Category']"
                         class="carousel-item" data-aos="fade-up" data-aos-duration="500">
                        <div class="w-100p">
                            <h2 class="job-tag">{{item['Tab']}} <img [alt]="item['Tab']" [src]="item['Logo']" class="job-logo"></h2>
                            <h3>{{item['Title']}}</h3>
                            <h4 class="job-location">{{item['Location']}} - <span class="job-time">{{item['Date']}}</span></h4>
                            <p class="job-description">
                                {{item['Description']}}
                            </p>
                        </div>
                        <div class="job-environment">
                            @for (technology of getEnvironment(item); track technology) {
                                <span class="technology">{{technology}}</span>
                            }
                        </div>
                    </div>
                }
                <div class="carousel-item-spacer"></div>
            </div>
        }
        @if (!scrolled) {
            <p class="scroll-indicator" @exit-animation (click)="scrollTo(tags[1])"
               data-aos="fade-up" data-aos-duration="500" data-aos-offset="-50">
               <i class="fas fa-mouse"></i> &nbsp; <span class="right">>></span>
            </p>
        }
    </div>
</section>
