@import "src/assets/styles/themes";

.job {
    background-color: var(--bg-color-30);
    transition: var(--transition);
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 25px;
    margin-bottom: 25px;
    backdrop-filter: blur(5px);

    &:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0px;
        content: "";
        display: block;
        height: 3px;
        left: 0%;
        position: absolute;
        background: var(--border-color);
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }

    &:hover:after {
        width: 100%;
        left: 0;
    }

    .job-time {
        color: var(--accent-color);
        margin-bottom: 30px;
    }

    .job-descriptions {
        margin-bottom: 15px;
        .job-description {
            margin-bottom: 10px;
            font-size: 14px;
        }
    }

    .job-location {
        margin-bottom: 10px;
    }

    .job-logo {
        margin-bottom: -5px;
        margin-left: 5px;
        height: 25px;
    }

    .job-environment {
        list-style: none;
        padding: 0;

        .technology {
            font-size: 12px;
            color: var(--primary-color);
            line-height: 1.75;
            font-family: var(--code-font);

            .highlight {
                padding-bottom: 3.5px;
            }

            &:after {
                content:var(--divider);
                color: var(--primary-color);
                font-weight: 600;
                opacity: .7;
                margin: 5px;
            }

            &:last-child:after {
                content: "";
            }
        }
    }
}

.experience-categories {
    margin-bottom: 30px;

    li {
        display: inline;
        cursor: var(--cursor-type);
        transition: var(--transition);

        &.active {
            color: var(--accent-color);
        }

        &:after {
            content: var(--divider);
            color: var(--accent-color);
            font-weight: 600;
            opacity: .7;
            margin: 10px;
        }

        &:last-child:after {
            content: "";
        }
    }
}
