@import "src/assets/styles/themes";

#experience-carousel {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 20px;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;

    .carousel-item {
        scroll-snap-align: center;
        scroll-margin: 5px;
        cursor: auto;
        display: flex;
        flex-direction: column;
        flex-basis: 90%;
        justify-content: space-between;
        align-items: flex-start;
        flex-shrink: 0;
        height: 375px;
        margin: 5px;

        background-color: var(--bg-color-30);
        border: var(--border);
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
        padding: 0 15px 10px 15px;
        backdrop-filter: blur(5px);
    }

    .carousel-item-spacer {
        display: none;
    }
}


.job-time {
    color: var(--accent-color);
    margin-bottom: 30px;
}

.job-description {
    margin-bottom: 20px;
    font-size: 12px;
}

.job-location {
    margin-bottom: 10px;
}

.collapse {
    transition: var(--transition);
    height: 30px;
    overflow: hidden;

    &.open {
        height: auto;
    }
}

.job-logo {
    margin-bottom: -5px;
    margin-left: 5px;
    height: 25px;
}

.job-environment {
    list-style: none;
    padding: 0;

    .technology {
        font-size: 10px;
        color: var(--list-text-color);
        font-family: var(--code-font);
        display: inline-block;

        &:after {
            content: var(--divider);
            color: var(--divider-color);
            font-weight: 600;
            opacity: .7;
            margin: 0 5px;
        }

        &:last-child:after {
            content: "";
        }
    }
}


.experience-categories {
    display: none;
    margin-bottom: 30px;

    li {
        display: inline;
        cursor: var(--cursor-type);
        transition: var(--transition);

        &.active {
            color: var(--accent-color);
        }

        &:after {
            content: var(--divider);
            color: var(--accent-color);
            font-weight: 600;
            opacity: .7;
            margin: 5px;
        }

        &:last-child:after {
            content: "";
        }
    }
}

.swipe-text {
    display: none;
    text-align: center;
}

@media(max-width: 1000px) {
    #experience-carousel {
        flex-direction: row;
        -webkit-overflow-scrolling: touch;
        mask: var(--carousel-mask);

        .carousel-item {
            cursor: var(--cursor-type);
            flex-basis: 75vw;
            margin: 5px;
        }

        .carousel-item-spacer {
            display: block;
            height: 375px;
            flex-basis: 1vw;
            flex-shrink: 0;
        }
    }
    .experience-categories {
        display: block;
    }
    .swipe-text {
        display: block;
    }
}
