<section>
    <div class="content">
        <div class="title mb-5" data-aos="fade-up" data-aos-duration="500">
            <h3 class="e-font section-title">
                {{"Experience.Title" | translate}}
            </h3>
        </div>
        <div *ngIf="all.length">
            <ul class="experience-categories">
                <li *ngFor="let tag of tags; let i = index"
                    data-aos="fade-up" data-aos-duration="500" [attr.data-aos-delay]="i*100 + 100"
                    (click)="scrollTo(tag)" [class.active]="selectedTag === tag">
                    {{tag | titlecase}}
                </li>
            </ul>
        </div>
        <div id="experience-carousel" *ngIf="all.length" (scroll)="onScroll($event)">
            <div class="carousel-item-spacer"></div>
            <div *ngFor="let item of all; let i = index" id="{{item['Category']}}"
                 (click)="scrollTo(tags[i+1] || tags[0])" [title]="item['Tab']" [class.inactive]="selectedTag !== item['Category']"
                 class="carousel-item" data-aos="fade-up" data-aos-duration="500">
                <div>
                    <h2>{{item['Tab']}} <img [alt]="item['Tab']" [src]="item['Logo']" class="job-logo"></h2>
                    <h3>{{item['Title']}}</h3>
                    <h4 class="job-location">{{item['Location']}} - <span class="job-time">{{item['Date']}}</span></h4>
                    <p class="job-description">
                        {{item['Description']}}
                    </p>
                </div>
                <div class="job-environment">
                    <span *ngFor="let technology of item['Environment']" class="technology">{{technology}}</span>
                </div>
            </div>
            <div class="carousel-item-spacer"></div>
        </div>
        <p class="swipe-text" data-aos="fade-up" data-aos-duration="500" data-aos-offset="-50">
           < &nbsp; {{'Experience.ScrollText' | translate}} &nbsp; >
        </p>
    </div>
</section>
