@import "src/assets/fonts/fonts.scss";
@import "src/assets/styles/themes";

body {
    margin: 0;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    background-color: var(--bg-color);
    color: var(--primary-color);
    line-height: 1.3;
    font-family: var(--primary-font);
    font-size: 15px;
}

::-webkit-scrollbar {
    display: none;
}

section {
    background: transparent;
    min-height: 100vh;
    margin: auto auto 20em;
    width: 90%;
    max-width: 850px;
}

i {
    transition: var(--transition);
}

a {
    text-decoration: none;
    color: inherit;
    &:hover {
        text-decoration: none;
    }
}

ol, ul, li {
    list-style: none;
    padding: 0;
}

.highlight {
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: var(--accent-color) !important;
    transition: var(--transition);
}

.bullet::marker {
    content: '> ';
    font-size: 1.2em;
    color: var(--accent-color);
}

.scroll-lock {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}

.main-btn {
    color: var(--btn-text-color);
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    transition: var(--transition) !important;
    font-family: var(--primary-font);
    cursor: var(--cursor-type);
    background-color: transparent;
    font-size: 13px;
    line-height: 1;
    text-decoration: none;
    padding: 1.25rem 1.75rem;

    &:hover {
        background-color: var(--bg-color-30);
        color: var(--btn-text-color) !important;
    }
}

.container {
    min-height: 100%;
    margin: auto;
    width: 90vw;
    max-width: 75em;
}

.section-title {
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px 0 40px;
    width: 100%;
    white-space: nowrap;
    font-size: 32px;
    font-weight: 600;
    color: var(--primary-color);
    font-family: var(--primary-font);

    &:after {
        content: '';
        display: block;
        height: 1px;
        width: 300px;
        background-color: var(--border-color);
        position: relative;
        margin-left: 20px;
    }
}
