div.bg-img.center.loading
div.bg-overlay.loading
div.content-container.loading.content-hidden
  span.next.bg-btn(onclick='AV.loadNextBg();')
    i.fa-fw.fas.fa-chevron-right.selectable
  span.prev.bg-btn(onclick='AV.loadNextBg(true);')
    i.fa-fw.fas.fa-chevron-left.selectable 
  div.info(onclick='AV.navToggle();')
    div.name
      span.first ARUN
      span.last VARGHESE
    div.role Senior Software Engineer
    div.marker
      i.fa.fa-fw.fa-map-pin
    div.location Plano, TX
  span.more-info-btn(onclick='AV.navToggle();')
    i.fa-fw.fas.fa-info-circle.fa-2x.selectable
  div.bg-loading-icon
    i.fa-fw.fas.fa-cog.fa-spin


