div.bg-img.center.loading
div.bg-overlay.loading
div.content-container.loading.content-hidden
  span.next.bg-btn(onclick='AV.loadNextBg();')
    i.icon.ion-md-arrow-forward.selectable
  span.prev.bg-btn(onclick='AV.loadNextBg(true);')
    i.icon.ion-md-arrow-back.selectable
  div.info(onclick='AV.navToggle();')
    div.name
      span.first ARUN
      span.last VARGHESE
    div.role Senior Software Engineer
    div.marker
      i.icon.ion-ios-pin
    div.location Plano, TX
  span.more-info-btn(onclick='AV.navToggle();')
    i.icon.ion-ios-information-circle-outline.selectable
  div.bg-loading-icon.spin
    i.icon.ion-ios-settings


