span.bg-loading-icon.fa-spin
    i.fa-fw.fas.fa-cog
div.bg-img.loading
div.bg-overlay.loading
div.content-container.loading
  div.info(onclick='AV.navToggle();')
    div.name
      span.first ARUN
      span.last VARGHESE
    div.role Senior Software Engineer
    div.marker
      i.fa.fa-fw.fa-map-pin
    div.location Plano, TX
  div.more-info-btn(onclick='AV.navToggle();')
    i.fa-fw.fas.fa-info-circle.fa-2x

