div#loader.loader-container
	div.cube-loader
		div.cube-face.cube-face-front 
			i.icon.ion-logo-github
		div.cube-face.cube-face-back
			i.icon.ion-logo-instagram
		div.cube-face.cube-face-left
			i.icon.ion-ios-paper
		div.cube-face.cube-face-right
			i.icon.ion-logo-linkedin
		div.cube-face.cube-face-bottom
			i.icon.ion-ios-send
		div.cube-face.cube-face-top
			i.icon.ion-ios-chatbubbles

