div#loader.loader-container
	div.cube-loader
		div.cube-face.cube-face-front 
			i.fab.fa-github
		div.cube-face.cube-face-back
			i.fab.fa-instagram
		div.cube-face.cube-face-left
			i.i.fas.fa-file-alt
		div.cube-face.cube-face-right
			i.fab.fa-linkedin-in
		div.cube-face.cube-face-bottom
			i.fas.fa-envelope-open
		div.cube-face.cube-face-top
			i.fas.fa-comments

