nav.nav
  span.nav-btn
    i.icon.ion-ios-close-circle-outline.selectable
  div.nav-menu-grid
    img.profile(src='assets/img/previews/profile.jpg')
    div.description
      div I'm a senior software engineer with a passion for design, coding, and creating tangible deliverables through problem solving and creative thinking! In free time I enjoy traveling and exploring new places around the globe! To learn more about me or get in contact with me, checkout the links below!        
    a(href='https://avarghese.me/resume', animate-link='true')
      div.nav-menu-item
        div.icon-overlay
          i.icon.ion-ios-paper
        img.nav-item-bg-img(data-src='assets/img/previews/resume.jpg')
        div.bg-overlay
        div.content RESUME
    a(href='https://www.linkedin.com/in/varghesearun', animate-link='true')
      div.nav-menu-item
        div.icon-overlay
          i.icon.ion-logo-linkedin
        img.nav-item-bg-img(data-src='assets/img/previews/linkedin.jpg')
        div.bg-overlay
        div.content LINKEDIN    
    a(href='https://github.com/vararun', animate-link='true')
      div.nav-menu-item
        div.icon-overlay
          i.icon.ion-logo-github
        img.nav-item-bg-img(data-src='assets/img/previews/github.jpg')
        div.bg-overlay
        div.content GITHUB 
    a(href='https://codepen.io/avarghese/', animate-link='true')
      div.nav-menu-item
        div.icon-overlay
          i.icon.ion-logo-codepen
        img.nav-item-bg-img(data-src='assets/img/previews/codepen.jpg')
        div.bg-overlay
        div.content CODEPEN     
    a(href='https://avarghese.me/travel', animate-link='true')
      div.nav-menu-item
        div.icon-overlay
          i.icon.ion-ios-globe
        img.nav-item-bg-img(data-src='assets/img/previews/travel.jpg')
        div.bg-overlay
        div.content TRAVELS  
    a(href='https://www.instagram.com/chasingshwetha/', animate-link='true')
      div.nav-menu-item
        div.icon-overlay
          i.icon.ion-logo-instagram
        img.nav-item-bg-img(data-src='assets/img/previews/instagram.jpg')
        div.bg-overlay
        div.content INSTAGRAM
    a(href='https://youtube.com/c/chasingshwetha', animate-link='true')
      div.nav-menu-item
        div.icon-overlay
          i.icon.ion-logo-youtube
        img.nav-item-bg-img(data-src='assets/img/previews/youtube.jpg')
        div.bg-overlay
        div.content YOUTUBE
    a(href='mailto:arunv4700@gmail.com')
      div.nav-menu-item
        div.icon-overlay
          i.icon.ion-ios-send
        img.nav-item-bg-img(data-src='assets/img/previews/email.jpg')
        div.bg-overlay
        div.content CONTACT ME!
  div.nav-footer
    div.tags
        span #engineer #husband #traveler
    span.copyright
      | &copy; 2016-2019 by Arun Varghese 
      a(href='https://github.com/varararun/varararun.github.io', animate-link='true')
        i.icon.ion-logo-github
