div.vr-drag-demo
  span.drag-icon
    i.fa.fa-hand-pointer-o
  div.demo-text My Travels in VR!
    br
    | Grab and Drag the Picture to View 360&deg;!
  i.fa.fa-angle-left
  i.fa.fa-angle-right
  i.fa.fa-times

div.bg-img.loading
div.vr-content
div.bg-overlay.fadeIn
div.bg-pattern

div.content
  div.info(onclick='AV.navToggle();')
    div.name
      span.first ARUN
      span.last VARGHESE
    div.role Senior Full Stack Developer
    div.marker
      i.fa.fa-fw.fa-map-marker
    div.location Dallas, TX
  div.icons
    span
      a(href='http://avarghese.me/resume/')
        i.fa.fa-fw.fa-file-text-o.social-icon
    span
      a(href='https://github.com/vararun/')
        i.fa.fa-fw.fa-github-square.social-icon
    span
      a(href='https://codepen.io/avarghese/')
        i.fa.fa-fw.fa-codepen.social-icon
    span
      a(href='http://avarghese.me/blog')
        i.fa.fa-fw.fa-rss.social-icon
  div.email
    a(href='mailto:arunv4700@gmail.com') arunv4700@gmail.com

