div.control-btns
  span.nav-btn.animated.bounceIn
    span.nav-icon
      i.fa.fa-fw.fa-bars.open-btn
      i.fa.fa-fw.fa-times.close-btn
  span.shuffle-bg-btn.animated.bounceIn
    i.fa.fa-fw.fa-cog.fa-spin
  span.email-btn
    a(href='mailto:arunv4700@gmail.com')
      i.fa.fa-fw.fa-envelope