div.control-btns
  span.nav-btn.animated.bounceIn
    span.nav-icon
      i.fa.fa-fw.fa-user-circle-o.open-btn
      i.fa.fa-fw.fa-times-circle-o.close-btn
  span.shuffle-bg-btn.animated.bounceIn
    i.fa.fa-fw.fa-cog.fa-spin
  span.email-btn
    a(href='mailto:arunv4700@gmail.com')
      i.fa.fa-fw.fa-envelope
  span.vr-btn.animated.bounceIn
    span.vr-icon
      i.fa.fa-fw.fa-street-view.open-btn
      i.fa.fa-fw.fa-times-circle-o.close-btn
