div.bg-img.loading
div.bg-overlay.fadeIn
div.bg-pattern

div.content
  div.info(onclick='AV.navToggle();')
    div.name
      span.first ARUN
      span.last VARGHESE
    div.role Senior Software Engineer
    div.marker
      i.fa.fa-fw.fa-map-marker
    div.location Plano, TX
  div.icons
    span
      a(href='https://avarghese.me/resume/')
        i.fa.fa-fw.fa-file-text-o.social-icon
    span
      a(href='https://github.com/vararun/')
        i.fa.fa-fw.fa-github-square.social-icon
    span
      a(href='https://codepen.io/avarghese/')
        i.fa.fa-fw.fa-codepen.social-icon
    span
      a(href='https://www.linkedin.com/in/varghesearun')
        i.fa.fa-fw.fa-linkedin.social-icon
    span
      a(href='mailto:arunv4700@gmail.com')
        i.fa.fa-fw.fa-envelope.social-icon
  div.mouse-click-icon(onclick='AV.navToggle();')
    div.click
    //div.animated.bounceIn.flash.infinite.click

