span.nav-btn.animated.bounceIn.nav-closed
    i.fas.fa-fw.fa-times-circle

div.bg-img.loading
div.bg-overlay.fadeIn
div.bg-pattern

div.content
  div.info(onclick='AV.navToggle();')
    div.name
      span.first ARUN
      span.last VARGHESE
    div.role Senior Software Engineer
    div.marker
      i.fa.fa-fw.fa-map-pin
    div.location Plano, TX
  div.icons
    span
      a(href='https://avarghese.me/resume/')
        i.fas.fa-fw.fa-file-alt.social-icon
    span
      a(href='https://github.com/vararun/')
        i.fab.fa-fw.fa-github-square.social-icon
    span
      a(href='https://codepen.io/avarghese/')
        i.fab.fa-fw.fa-codepen.social-icon
    span
      a(href='https://www.linkedin.com/in/varghesearun')
        i.fab.fa-fw.fa-linkedin.social-icon
    span
      a(href='mailto:arunv4700@gmail.com')
        i.fas.fa-fw.fa-envelope.social-icon
  div.more-info-btn(onclick='AV.navToggle();')
    i.fa-fw.fas.fa-plus-circle.fa-2x.animated.pulse.infinite

