doctype html
html(lang="en")
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(content="width=device-width", initial-scale="1.0", user-scalable="no", name="viewport")
  meta(content="I'm Arun Varghese", property="og:title")
  meta(content="https://avarghese.me/resume", property="og:url")
  meta(content="assets/img/link-preview.png", property="og:image")
  meta(content="I'm Arun Varghese", property="og:site_name")
  meta(content="#engineer #husband #traveler", property="og:description")
  meta(name="description", content="#engineer #husband #traveler")
  
  title Arun Varghese
  include _stylesheets
body
  include _loader
  include _nav
  div.page-wrap.loading
    include _content
  include _scripts




