doctype html
html(lang='en')
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title Arun Varghese
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  include _stylesheets
body
  include _loader
  include _nav
  div.page-wrap.loading
    include _content
  include _scripts




