section#loader
	div.loader-container.animated.fadeIn		
		div.cube.panel-load
			div.cube-face.cube-face-front 
				i.devicon-java-plain
			div.cube-face.cube-face-back
				i.devicon-docker-plain
			div.cube-face.cube-face-left
				i.devicon-github-plain
			div.cube-face.cube-face-right
				i.devicon-nodejs-plain
			div.cube-face.cube-face-bottom
				i.devicon-angularjs-plain
			div.cube-face.cube-face-top
				i.devicon-slack-plain

