section#loader
	div.loader-container.animated.fadeIn		
		div.cube.panel-load
			div.cube-face.cube-face-front 
				i.fa.fa-fw.fa-instagram
			div.cube-face.cube-face-back
				i.fa.fa-fw.fa-linkedin-square
			div.cube-face.cube-face-left
				i.fa.fa-fw.fa-github-square
			div.cube-face.cube-face-right
				i.fa.fa-fw.fa-github-square
			div.cube-face.cube-face-bottom
				i.fa.fa-fw.fa-envelope
			div.cube-face.cube-face-top
				i.fa.fa-fw.fa-github-square

