nav.nav
  div.nav-menu-grid
    img.profile(src='assets/img/thumbnails/profile.jpg')
    div.description
      div I'm a senior software engineer with a passion for design, coding, and creating tangible deliverables through problem solving and creative thinking! In free time I enjoy traveling and exploring new places around the globe! To learn more about me or get in contact with me, checkout the links below!
    a(href='http://avarghese.me/resume')
      div.nav-menu-item
        div.icon-overlay
          i.fa.fa-file-text-o
        div.bg-img.resume
        div.bg-overlay
        div.content RESUME
    a(href='http://avarghese.me/travel')
      div.nav-menu-item
        div.icon-overlay
          i.fa.fa-globe
        div.bg-img.travel
        div.bg-overlay
        div.content TRAVELS
    a(href='http://avarghese.me/blog')
      div.nav-menu-item
        div.icon-overlay
          i.fa.fa-rss
        div.bg-img.blog
        div.bg-overlay
        div.content BLOG
    a(href='https://github.com/vararun')
      div.nav-menu-item
        div.icon-overlay
          i.fa.fa-github
        div.bg-img.github
        div.bg-overlay
        div.content GITHUB
    a(href='https://www.linkedin.com/in/varghesearun')
      div.nav-menu-item
        div.icon-overlay
          i.fa.fa-linkedin
        div.bg-img.linkedin
        div.bg-overlay
        div.content LINKEDIN
    a(href='http://codepen.io/avarghese/')
      div.nav-menu-item
        div.icon-overlay
          i.fa.fa-codepen
        div.bg-img.codepen
        div.bg-overlay
        div.content CODEPEN    
    a(href='https://www.facebook.com/avarghese1')
      div.nav-menu-item
        div.icon-overlay
          i.fa.fa-facebook
        div.bg-img.facebook
        div.bg-overlay
        div.content FACEBOOK
    a(href='http://avarghese.me/about')
      div.nav-menu-item
        div.icon-overlay
          i.fa.fa-user-circle-o
        div.bg-img.about
        div.bg-overlay
        div.content ABOUT ME
    //
      a(href='http://avarghese.me/portfolio')
        div.nav-menu-item
          div.icon-overlay
            i.fa.fa-th-large
         div.bg-img.portfolio
         div.bg-overlay
         div.content PORTFOLIO
      a(href='https://dribbble.com/avarghese')
        div.nav-menu-item
          div.icon-overlay
            i.fa.fa-dribbble
         div.bg-img.dribbble
         div.bg-overlay
         div.content DRIBBBLE
      a(href='https://www.behance.net/avarghese')
        div.nav-menu-item
          div.icon-overlay
            i.fa.fa-behance
          div.bg-img.behance
          div.bg-overlay
          div.content BEHANCE
      a(href='http://stackoverflow.com/users/7571027/vararun')
        div.nav-menu-item
          div.icon-overlay
            i.fa.fa-stack-overflow
          div.bg-img.stackoverflow
          div.bg-overlay
          div.content STACKOVERFLOW
      a(href='https://www.instagram.com/var_arun/')
        div.nav-menu-item
          div.icon-overlay
            i.fa.fa-instagram
          div.bg-img.instagram
          div.bg-overlay
          div.content INSTAGRAM     
      a(href='https://www.youtube.com/c/vararun')
        div.nav-menu-item
          div.icon-overlay
            i.fa.fa-youtube
          div.bg-img.youtube
          div.bg-overlay
          div.content YOUTUBE
  div.nav-footer
    div.tags
        span #engineer #husband #traveler
    span.copyright
      &copy; 2016 by Arun Varghese|
      a(href='https://github.com/varararun/varararun.github.io')
        i.fa.fa-fw.fa-github
