link(rel='stylesheet', href='assets/lib/font-awesome/css/font-awesome.min.css')
link(rel='stylesheet', href='assets/lib/animate.css/animate.min.css')
link(rel='stylesheet', href='assets/lib/devicon/devicon.min.css')
link(rel='stylesheet', href='assets/css/avarghese.min.css')
